{% extends 'index.html' %}

{% block title %} | About{% endblock %}

{% block content %}
    <p>
        Вы находитесь на сайте, который поможет Вам в подготовке к сдаче экзамена JLPT.
        На нашем сайте Вы можете пройти тесты на любой из уровней.
        Также имеются тесты, позволяющие оценить Ваш уровень по шкале экзамена JLPT.
        Для Вас создан ряд приложений, которые помогают в подготовке к экзамену.
        Итак, пора начинать подготовку и, как говорят японцы, がんばったね!
    </p>
{% endblock %}