{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>JLPT Helper</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/png"/>
    <link rel=stylesheet type=text/css href="{% static 'home/style.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'kanji_analyzer/style.css' %}">
</head>
<body>
    <div id="main">
        {#HEADER#}
        <div id="header"><h1>JLPT Helper</h1></div>

        {#MENU#}
        {#<div id="menu_gor">#}
        {#    {% include 'home/menu.html' %}#}
        {#</div>#}

        {#    MAIN CONTENT#}
        <div id="wrapper">
            <div id="content">
                <p>Вы находитесь на сайте, который поможет вам в подготовке к сдаче экзамена JLPT. На нашем сайте вы можете пройти тесты на любой из уровней, также имеются тесты, позволяющие оценить ваш уровень, по шкале экзамена JLPT. Для Вас есть создан ряд приложений, которые помогают в подготовке к экзамену. Итак, пора начинать подготовку и, как говорят японцы, がんばったね!</p>
                {% if user.is_authenticated %}
                <h1>Rango says... hello {{ user.username }}!</h1>
                {% else %}
                <h1>Rango says... hello world!</h1>
                {% endif %}
                {% block body %} {% endblock %}
            </div>
        </div>

    {#USER INFORMATION#}
        <div id="user">
            <h1>Вход</h1>
            {% if user.is_authenticated %}
                <a href="/site_auth/restricted/">Restricted Page</a><br />
                <a href="/site_auth/logout/">Logout</a><br />
            {% else %}
                <a href="/site_auth/register/">Register Here</a><br />
                <a href="/site_auth/login/">Login</a><br />
            {% endif %}
        </div>

    {#NEWS BLOCK#}
        <div id="news">
            <p>News will be here!</p>
        </div>

    {#FOOTER#}
        {% include 'home/footer.html' %}
    </div>
</body>
</html>