<div id="menu_gor">
    <ul class="menu">
        <li><a>JLPT Study</a>
            <ul>
                <li><a href="">Level N1</a></li>
                <li><a href="">Level N2</a></li>
                <li><a href="">Level N3</a></li>
                <li><a href="">Level N4</a></li>
                <li><a href="">Level N5</a></li>
            </ul>
        </li>
        <li><a>Applications</a>
            <ul>
                <li><a href="{% url 'start_kanji' %}">Kanji analyzer</a></li>
            </ul>
        </li>
    </ul>
</div>