#analyzed_text {
    padding-left: 20px;
    padding-right: 20px;
}

.form {
    margin-left:auto;
    margin-right:auto;
    width:30%;

}

.form textarea {
    font-size: 25px;
}

#text_results {
    padding: 20px;
}

#list_of_kanjies {
    display: inline-block;
    float: left;
}

.textarea {
    border:1px solid #e65f44;
}

#progress       {
                    width: 200px;
                    margin-top: 36px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    float: left;
                    display: inline-block;
                    line-height: 5px;
                }

progress        {
                    border: 0;
                    height: 12px;
                }

progress::-webkit-progress-bar {
                    background-color: #F6CDC0;
                    border: 0;
                    height: 12px;
                    padding-bottom: 5px;

                }

progress::-webkit-progress-value {
                    background-color: #557487;
                    border: 0;
                    height: 12px;
                    padding-bottom: 5px;
                }

progress::-moz-progress-bar {
                    background-color: #F6CDC0;
                    border-color: black;
                    border: 0;
                    height: 12px;
                    padding-bottom: 5px;
                }

progress::-moz-progress-bar {
                    background-color: #557487;
                    border-color: black;
                    border: 0px;
                    height: 12px;
                    padding-bottom: 5px;
                }