<header>
    <div id="header">
    {#    <div class="logo"> <a href="index.html"><img src="../../static/style/images/logo.png" alt=""></a> </div>#}
        <div class="menu">
            <ul class="sf-menu">
                <li>
                    <a href="{% url 'home' %}">Главная страница</a>
                </li>
                <li>
                    <a>Приложения</a>
                    <ul>
                        <li>
                            <a href="{% url 'analyze' %}">Kanji analyzer</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Обратная связь</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</header>