<header>
    <div id="header">
        <div class="menu">
            <div id='cssmenu'>
                <ul>
                    <li><a href="{% url 'home' %}">Главная страница</a></li>
                        <li><a>Приложения</a>
                            <ul>
                                <li><a href="{% url 'analyze' %}">Анализатор канжы</a></li>
                                <li><a href="{% url 'select_level' %}">Тестирование</a></li>
                            </ul>
                        </li>
                    <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>