{% extends "home/base.html" %}

{% block auth %}
        TEST
        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/site_auth/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />
        <form id="user_form" method="POST" action="/site_auth/register/"
                enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}
