{% extends 'index.html' %}

{% load staticfiles %}

{% block title %} | Kanji Analyzer{% endblock %}

{% block content %}
    <div id="wrapper">
    <h3 class="line"> Ваш текст </h3>
    <div class="form-container">
      <form class="forms" action="analyze" method="post">
        <fieldset>
            <ol>
                <li class="button-row">
                  <textarea name="q" class="text-area required"></textarea>
                  <input type="submit" value="Анализировать" name="submit" class="btn-submit">
                </li>
            </ol>
        </fieldset>
      </form>
        <div class="response"></div>
    </div>
    <br>
    <br>
    <br>
        {% if q %}
            {% include "kanji_analyzer/show_results.html" %}
        {% endif %}
{% endblock %}